            body
            {
                color: white;
                background-color:black;
            }
            h1.title
            {
                text-align:center;
                font-family:"Times New Roman",Arial,Serif;
                color:red;
                padding-top:0px;
                margin-top:0px;
            }
            h2.red-orange
            {
                padding-top:0px;
                padding-bottom:0px;
                padding-right:0px;
                padding-left:0px;
                margin-top:0px;
                margin-bottom:5px;
                margin-right:0px;
                margin-left:0px;
                color:#ff4e00;
                font-family:"Times New Roman",Arial,Serif;
                font-size:20px;
            }
            h2.red
            {
                padding-top:0px;
                padding-bottom:0px;
                padding-right:0px;
                padding-left:0px;
                margin-top:0px;
                margin-bottom:5px;
                margin-right:0px;
                margin-left:0px;
                color:red;
                font-family:"Times New Roman",Arial,Serif;	
                font-size:20px;
            }
            table
            {
                padding: 0px;
            }
            .main{
                width:90%;
                height:900px;
            }
            .content{
                width:100%;
                height:100%;
            }
            .banner
            {
                margin-top:0px;
                width:100%;
                height:150px;
            }
            .sidescroller{
                width:200px;
                height:100%;
            }
            .link{
                width:100px;
            }
            .logo{
                width:100%;
                height:150px;
            }
            #orange
            {
                color:orange;
            }
            #white
            {
                color:white;
            }
            #repeat{
                background-image:url('./Images/repeat.jpg');
                background-repeat:repeat-y;
                height:100%;
            }
            #width1{
                width:100px;
            }
            #width2{
                width:200px;
            }
            #footer{
                background-image:url('./Images/footer.jpg');
                background-repeat:repeat-x;
                height:200px;
                width:100%;
            }
            #foottext{
                font-family:"Times New Roman",Arial,Serif;
                font-size:30px;
                text-align:center;
            }
            a:link{
                color:white;
            }
            a:visited{
                color:white;
            }
            a:hover{
                color:#ff4e00;
            }
            a:active{
                color:orange;
            }
            a.accessories:link{
                color:orange;
            }
            a.accessories:visited{
                color:orange;
            }
            a.accessories:hover{
                color:#ff4e00;
            }
            a.accessories:active{
                color:orange;
            }
            a.footer:link{
                color:red;
            }
            a.footer:visited{
                color:red;
            }
            a.footer:hover{
                color:orange;
            }
            a.footer:active{
                color:orange;
            }